# Django specific
*.log
db.sqlite3

# Media files (uploads)
media/

# Static files (collected static)
staticfiles/

# Docker
docker-compose.yml
docker-compose.override.yml
Dockerfile

# Docker volumes
docker/volumes/

# Docker images
docker/images/

# Virtual environment
venv/
.env

# Python bytecode
__pycache__/
*.pyc

# Dependency directories
bin/
include/
lib/
lib64/
libexec/
sbin/
share/